$hello: rgb(118, 0, 88);
$red: rgb(193, 54, 29);
$brown :#333333;
$blue: rgb(53, 125, 201);

.design-header {
  transition: 0.5s;
}

.navbar {
  background-color: $brown;
}

.design-header:hover {
  background-color: $red;
}

.welcome-to-span {
  color: $red;
}

.buton-categorie {
  border: 1px solid $blue;
  transition: 0.5s;
}

.buton-categorie:hover {
  background-color: $red;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .image-header {
      width: 300px;
  }
}
